<div class="center jumbotron">
  <h1>Bienvenido a la pagina principal</h1>
  <h2>
    Esta es la pagina de Inicio para  <a href="https://www.railstutorial.org">Ruby on Rails Tutorial</a> aplicacion de ejemplo
  </h2>

  <%= link_to "Registrate!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

